name : postman collection runner

on :
  workflow_dispatch :
  push :
    branches : [main]

jobs:
 run-postman-test:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout-code
       uses: actions/checkout@v6.0.0

     - name: setup node js 
       uses: actions/setup-node@v6.0.0
       with :
         node-version: '22'

     - name: install newman
       run: |
         npm install -g newman
         npm install -g newman-reporter-htmlextra

     - name: run the postman collection with newman
       run: |
         newman run 'In Warranty flow.postman_collection.json' \
         -e QA.postman_environment.json \
         -r cli,htmlextra \
         --reporter-htmlextra-export  ./newman/index.html


     - name: upload artifact
       if: always()
       uses: actions/upload-artifact@v5.0.0
       with:
         name: newman_html_report
         path: newman/*.html


     - name: creating github page
       if: always()
       uses: peaceiris/actions-gh-pages@v4.0.0
       with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir: newman
      

         
   
   

